<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    
    <title>Home</title>

    <style>  
        a, a:hover, a:focus, a:active {
            text-decoration: none;
            color: inherit;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="home-container h-auto">
            <div class="title-bar w-100">
                <h1 class="text-white" style="font-family: 'Cairo', sans-serif;">Progress Tracker</h1>
            </div>
        </div>
        <div class="xbutton">
            <a href="{% url 'register' %}" class="btn btn-info btn-lg mr-2">
                <i class='bx bx-log-in'></i> Register
            </a>
            <a href="{% url 'auth' %}" class="btn btn-info btn-lg">
                <i class='bx bx-log-in'></i> Log in
            </a>
        </div>

        <!-- <div class="monologue text-white justify-content-end h-auto" style="margin-top: 50vh;">
            <p class="fs-1">Tracking progress is now a lot easier with our PROGRESS TRACKER.</p>
        </div> -->
    </div>
    
</body>
</html>