<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Profile</title>
    <style>  
        a, a:hover, a:focus, a:active {
            text-decoration: none;
            color: inherit;
        }
    </style>
</head>
<body>
    

    <div class="xbutton" style="z-index: 999;">
        <a href="{% url 'logout' %}" class="btn btn-info btn-lg">
            <i class='bx bx-log-out'></i> Log out
        </a>
    </div>
    
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="content w-auto p-2" style="height: 50vh">
                <h3 class="mb-5">Welcome, {{ email }}</h3>
                <div class="d-flex justify-content-center my-auto">
                    <button type="button" class="btn btn-primary zbutton mr-2"><a href="{% url 'create-report' %}">Create Report</a></button>
                    <button type="button" class="btn btn-info zbutton ml-2"><a href="{% url 'check-report' %}">Check Report</a></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>