<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Register</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
      
            <!-- Icon -->
            <div class="fadeIn first">
                {% load static %}
               <img src="{% static 'bx-user.svg' %}" height="40" id="icon" alt="User Icon" />
            </div>
      
            <!-- Login Form -->
            <form action="/post-register/" method="POST" class="register-form">
                {% csrf_token %}
                <input type="text" id="name" class="fadeIn second" name="name" placeholder="name">
                <input type="email" id="login" class="fadeIn second" name="email" placeholder="email">
                <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Sign up">
            </form>

            {% if message %}
            <div class="alert alert-danger alert-dismissible fade show mx-5">
                <strong>Error!</strong> {{ message }}
                <a href="{% url 'register' %}" class="close" data-dismiss="alert">&times;</a>
            </div>
            {% endif %}
      
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="{% url 'auth' %}">Already Registered??</a>
            </div>
      
        </div>
    </div>
</body>
</html>